{
  "extends": [
    "plugin:testing-library/react",
    "plugin:jest-dom/recommended"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "testing-library/no-node-access": ["error", {"allowContainerFirstChild": true}]
  }
}
