{
  "env": {
    "development": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": { "browsers": ["defaults"] }
          }
        ],
        "@babel/react"
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "jsnext": {
      "presets": [
        [
          "@babel/env",
          {
            "targets": { "browsers": ["defaults"] },
            "modules": false,
            "useBuiltIns": false
          }
        ],
        "@babel/react"
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  },
  "comments": false
}
