{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/react"]
    },
    "jsnext": {
      "presets": [["@babel/preset-env", { "modules": false }], "@babel/react"]
    }
  }
}
