{
  "env": {
    "development": {
      "presets": ["@babel/preset-env", "@babel/react"],
      "plugins": ["@babel/plugin-transform-runtime"]
    },
    "jsnext": {
      "presets": [
        ["@babel/preset-env", { "modules": false, "useBuiltIns": false }],
        "@babel/react"
      ],
      "plugins": ["@babel/plugin-transform-runtime"]
    }
  },
  "comments": false
}
