parser: babel-eslint
extends: airbnb

rules:
  max-len: [0, 100]
  no-constant-condition: 0
  arrow-body-style: [1, "as-needed"]
  comma-dangle: [2, "never"]
  padded-blocks: [0, "never"]
  no-unused-vars: [2, {vars: all, args: none}]
  react/prop-types:
    - 0
    - ignore: #coming from hoc
      - location
      - fields
      - handleSubmit

globals:
  expect: false
