---
parser: babel-eslint

ecmaFeatures:
  arrowFunctions: true
  blockBindings: true
  classes: true
  defaultParams: true
  destructuring: true
  forOf: true
  generators: false
  modules: true
  objectLiteralComputedProperties: true
  objectLiteralDuplicateProperties: false
  objectLiteralShorthandMethods: true
  objectLiteralShorthandProperties: true
  spread: true
  superInFunctions: true
  templateStrings: true

env:
  browser: true
  node: true
  es6: true

globals:
  __resourceQuery: false
  bootstrap: false
  describe: false
  describeSaga: false
  describeEvent: false
  describeCommand: false
  describeScene: false
  before: false
  it: false
  xit: false
  window : false
  beforeEach : false
  afterEach : false
  after : false
  before : false
  beforeEachChapter: false
  describeScenario: false
  describeChapter: false
  describeStep: false
  document : false
  window: false
  File : false
  FormData: false
  QCodeDecoder: false
  $: false
  L: false
  btoa: false
  escape: false
  angular: false
  jQuery: false
  ga: false

settings:
  jsx: true

ecmaFeatures:
  jsx: true

rules:

  # ERRORS
  curly: [2, "multi-line"]

  # WARNINGS
  no-unused-vars: [1, {vars: all, args: none}]
  semi-spacing: 1
  no-empty: 1
  handle-callback-err: 1
  eqeqeq: 1
  quotes: [1, 'single']
  no-unused-expressions: 1
  no-throw-literal: 1
  semi: 1
  block-scoped-var: 1
  no-alert: 1
  no-console: 1
  new-cap: 1
  space-unary-ops: 1

  # DISABLED
  space-after-keywords: 0
  dot-notation: 0
  consistent-return: 0
  brace-style: 0
  no-multi-spaces: 0
  no-underscore-dangle: 0
  key-spacing: 0
  comma-spacing: 0
  no-shadow: 0
  no-mixed-requires: 0
  space-infix-ops: 0
  strict: 0
  camelcase: 0
  no-wrap-func: 0
  comma-dangle: 0
  no-extra-semi: 0
  no-use-before-define: [0, "nofunc"]

  # AUTOMATED BY EDITORCONFIG
  eol-last: 0
  no-trailing-spaces: 0
  indent: 0
