test/
coverage/
example/
bin/
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
bower.json
.github
.circleci
.vscode
rollup.config.js
rollup.config.mjs
.all-contributorsrc
.codeclimate.yml
.coveralls.yml
tsconfig*.json
.prettierrc.json
vitest.config.mts
vitest.workspace.mts