test/
coverage/
example/
bin/
.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
bower.json
gulpfile.js
karma.conf.js
.github
.circleci
.vscode
rollup.config.js
.all-contributorsrc
.codeclimate.yml
.coveralls.yml
tsconfig*.json
.prettierrc
